/projeto/ProjetoProtocolo/build/
/projeto/ProtocolProject/Domain/nbproject/private/
/projeto/ProtocolProject/SwingPresentation/nbproject/private/
/projeto/ProtocolProject/MySQLRepository/nbproject/private/
/projeto/ProtocolProject/Application/nbproject/private/
/projeto/ProtocolProject/Domain/build/
/projeto/ProtocolProject/Domain/dist/
/projeto/ProtocolProject/InMemoryRepository/nbproject/private/
/projeto/ProtocolProject/Application/build/
/projeto/ProtocolProject/InMemoryRepository/build/
/projeto/ProtocolProject/MySQLRepository/build/
/projeto/ProtocolProject/SwingPresentation/build/
/projeto/ProtocolProject/ApplicationSwingMySQL/nbproject/private/
